{% extends 'base.html.twig' %}

{% block title %}ajouter une entreprise{% endblock %}

{% block body %}

    {% if edit %}
        <h1>editer une entreprise</h1>

        {% else %}
        
        <h1>ajouter une entreprise</h1>

    {% endif %}

    {# show the form that is in the controller #}
    {{form(formAddEntreprise)}}


{% endblock %}
