{% extends 'base.html.twig' %}

{% block title %}Hello EntrepriseController!{% endblock %}

{% block body %}
    <h1>liste des entreprise </h1>

    {% for entreprise in entreprises %}
            
        {# pass an id  #}
        <a href="{{ path('show_entreprise', {'id': entreprise.id}) }}">{{ entreprise }} </a><br> 

    {% endfor %}

{% endblock %}
