{% extends 'base.html.twig' %}

{% block title %}Hello EmployeController!{% endblock %}

{% block body %}
    <h1>liste des employer </h1>

    {% for employe in employes %}

        <a href="{{ path('show_employe', {'id': employe.id}) }}">{{ employe }}</a><br>

    {% endfor %}
{% endblock %}
